{{ define "authentication" }}
{{ if not .}}
Non authentifié
<a data-test="Go to connection page" href="/login">Connexion</a>
{{ else }}
<a data-test="Disconnect" href="/logout">Déconnexion</a>
{{ end }}
{{ end }}